.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    margin-left: 15px;
    cursor: pointer;
  }

  .preview {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
